# GEMINI_API_KEY: Opsional / Diperlukan jika menggunakan fitur Gemini AI
GEMINI_API_KEY=""

# APP_URL: URL aplikasi (default lokal: http://localhost:3000)
APP_URL="http://localhost:3000"

# PORT: Port server Express & Vite (default: 3000)
PORT=3000

# GAIN OFFICIAL EXCHANGE DEPOSIT (BEP-20 / BSC)
GAIN_EXCHANGE_NAME="Binance"
GAIN_EXCHANGE_DEPOSIT_ADDRESS="0x099358c97f96451acdd973Ec44dbb7870580b5c9"
GAIN_EXCHANGE_API_KEY=""
GAIN_EXCHANGE_SECRET_KEY=""
